<h1>タスクの一覧</h1>

<% @tasks.each do |task| %>
  タイトル: <%= task.title %>
  内容: <%= task.content %>
  <br>
<% end %>

<%= form_for(@task) do |f| %>
  タイトル:
  <%= f.text_field :title %>

  内容:
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>